button.convoCard {
  background-color:white;
  color:black;
  font-size:50px;
  border:6px solid black;
  border-radius:25px;
  width:140px;
  height:210px;
  justify-content:center;
  display:flex;
  align-items:center;
  margin:10px;
  margin-bottom: 0px;

}

img.convoCard {
  margin:10px;
  margin-bottom: 0px;
}




.convoCard:hover{
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.kebab-btn{
  width:30px;
  padding:0px;
  position:absolute;
  bottom:0;
  right:0;
  border:none;
  background-color:rgba(0,0,0,0);
  border-radius: 50px;
  transition: 0.1s linear;
}


.kebab-btn:hover{
  background-color: rgba(5, 155, 255, 0.4);
}

button:hover{
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

/* .blue {
    color:rgb(0, 102, 255);
    margin:10px;

} */

.title {
    font-weight:600;
}

.chatMsg {
    border-radius:15px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width:70%;
    margin-top:2px;
    margin-left:10px;
    margin-right:10px;
    
    width:fit-content;
    /* z-index: 2; */
}

.imessageClient {
  background-color:rgb(17, 136, 255);
  color:white;
  margin-left:auto;
}

.smsClient {
  background-color:rgb(46, 213, 88);
  color:white;
  margin-left:auto;
}

.gmessageClient {
  background-color:rgb(17, 136, 255);
  color:white;
  margin-left:auto;
}

.serverMsg {
    background-color:rgb(233, 233, 233);
    color:black;
}

.date {
    font-size:0.6em;
    color:#777777;
    width:100%;
    text-align:center;
}

.sentImg {
  max-width:90%;
  max-height:40vh;
  float:right;
  margin: 10px;
}

.recievedImg {
  margin-left: 10px;
  max-width:90%;
  max-height:40vh;
}


.messageInput {
    border-radius:20px;
    border:2px solid #CCCCCC;
    padding:5px;
    padding-left:10px;
    width:98%;
    caret-color: rgb(0, 102, 255);
}


.headerBox {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color:rgba(240, 240, 240, 0.8);
  height:fit-content;
  border-bottom:#AAAAAA 2px solid;
  display:grid;
  grid-template-columns:20% 60% 20%;
  text-align:center;
  position:sticky;
  top:0px;
  z-index:100;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }


  .debugItem {
    padding: 10px;
    border:#777777 solid 2px;
    border-radius: 15px;
    width:60%;
    margin:5px;
    background-color: #ffffff;
  }

  .debugItem > h3{
    text-decoration: underline;
  }

  .centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .flexRow {
    display: flex;
    flex-direction: row;
  }

  input:focus {
    outline:none;
  }


  @keyframes logo-sway {
    30% { rotate: 10deg}
    60% {rotate: -10deg}

    100% {rotate: 0deg}
  }