.convoCard {
  background-color:#a1c5ff;
  color:white;
  font-size:50px;
  border:8px solid white;
  border-radius:20px;
  width:140px;
  height:200px;
  justify-content:center;
  display:flex;
  align-items:center;
  margin:10px;
}


.blue {
    color:rgb(0, 102, 255);
    margin:10px;

}

.title {
    font-weight:600;
}

.chatMsg {
    border-radius:15px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width:200px;
    margin-top:8px;
    margin-left:10px;
    margin-right:10px;
    
    width:fit-content;
    /* z-index: 2; */
}

.clientMsg {
    background-color:rgb(17, 136, 255);
    color:white;
    margin-left:auto;
}

.serverMsg {
    background-color:rgb(233, 233, 235);
    color:black;
}

.date {
    font-size:0.6em;
    color:#777777;
    width:100%;
    text-align:center;
}

.messageInput {
    border-radius:20px;
    border:2px solid #CCCCCC;
    padding:5px;
    padding-left:10px;
    width:80%;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }



  .centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .flexRow {
    display: flex;
    flex-direction: row;
  }

  input:focus {
    outline:none;
  }


  @keyframes logo-sway {
    30% { rotate: 10deg}
    60% {rotate: -10deg}

    100% {rotate: 0deg}
  }